{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2 class="fw-bolder text-success">Edit Post</h2>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" name="title" value="{{ post.title }}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea name="content" rows="5" class="form-control" required>{{ post.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'blog_detail' pk=post.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}