{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-lg">
    {% if post.image %}
    <img src="{{ post.image.url }}" class="card-img-top img-fluid " alt="{{ post.title }}">
    {% endif %}
    <div class="card-body">
      <h2 class="card-title fw-bolder text-success">{{ post.title }}</h2>
      <p class="card-text">{{ post.content|linebreaks }}</p>
      <p class="text-muted">Posted on {{ post.created_at|date:"M d, Y" }}</p>
      <div class="mt-5">
        <a href="{% url 'blog_list' %}" class="btn btn-secondary">Back to Posts</a>
        <a href="{% url 'blog_edit' post.id %}" style="text-decoration: none;" class="btn btn-warning"> Update </a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
          Delete Post
        </button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'delete_post' pk=post.pk %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete "{{ post.title }}"?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Yes, Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}